<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" >
    <head>
        <meta charset="UTF-8">
        <title>로그인 성공</title>
    </head>
    <body>
      <p sec:authorize="isAuthenticated()">
        아이디 : [[${#authentication.principal.user.uid}]]<br>
        이름 : [[${#authentication.principal.user.name}]]<br>
        생년월일 : <span sec:authentication="principal.user.birth">1999-10-16</span><br>
        권한 : <span sec:authentication="principal.user.role">ADMIN</span><br>
        가입일 : <span sec:authentication="principal.user.rdate">가입일</span><br>
        <br>
       <a th:href = "@{/user/logout}">로그아웃</a>
       <a th:href = "@{/}">메인</a>
      </p>
    </body>
</html>